* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font: EB Garamond  */
.eb_garamond_font {
  font-family: "EB Garamond", serif;
}
/* responsive check */
/* * {
  border: 4px solid red;
}
body {
  border: 3px dashed blue;
} */

/* shared styles */
.container {
  width: 61%;
  margin: 0 auto;
}
.display_flex {
  display: flex;
}
.btn_primary {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #b68c5a;
  padding: 18px 30px;
  border-radius: 8px;
  border: none;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #e7e7e7;
  margin-bottom: 32px;
}
/*   shared styles ends here*/

header,
#banner {
  margin-top: 60px;
}

/* navbar design */
#navbar {
  align-items: center;
  justify-content: space-between;
}
#nav_links {
  gap: 30px;
}
#nav_items {
  list-style: none;
}
#nav_link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #707070;
}
.fa-angle-right {
  position: relative;
  top: 3px;
  left: 7px;
}

/* banner design */
#banner {
  background: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 200px;
  border-radius: 10px;
}
#banner_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner_heading {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 24px;
}
#banner_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#banner_form input[type="email"] {
  width: 500px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  padding: 19px;
  border-radius: 8px;
  border: none;
}
#banner_form input[type="submit"] {
  padding: 18px 39px;
  background-color: #b68c5a;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
